<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWJ-cwt0T_xU0C5OCSL0WVGxb6So6H3E4</string>
	<key>GCM_SENDER_ID</key>
	<string>790789405151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-a3f88</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-a3f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790789405151:ios:2bfbb070b69a358d036c6a</string>
</dict>
</plist>